<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tv_radio_system_db?createDatabaseIfNotExist=true&amp;useSSL=false</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="model.User"/>
    <mapping class="model.Channel"/>
    <mapping class="model.Program"/>
    <mapping class="model.Employee"/>
    <mapping class="model.Equipment"/>
    <mapping class="model.Advertisement"/>
    <mapping class="model.Expense"/>
    <mapping class="model.FinancialReport"/>
    <mapping class="model.ProgramAssignment"/>
    <mapping class="model.ProgramSchedule"/>
  </session-factory>
</hibernate-configuration>
